%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.

{port_specs, [{"priv/bcrypt_nif.so", ["c_src/*.c"]}]}.

{post_hooks,
 [{clean, "rm -rf priv c_src/*.o"},
  {compile,
   "$CC $CFLAGS $ERL $ERL_CFLAGS "
   "c_src/bcrypt_port.c c_src/bcrypt.o c_src/blowfish.o "
   "$LDFLAGS $ERL_LDFLAGS -lpthread "
   "-o priv/bcrypt"}]}.
